.category-container {
    display: flex;
    justify-content: center;
    margin: 30px;
}

.category-btn {
    border: 2px solid black;
    width: 180px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    font-size: larger;
}

.category {
    position: relative;
}

.category:hover .sub-category {
    display: block;
}

.category:hover .category-btn{
    background-color: black;
    color: white
}

.sub-category {
    display: none;
    position: absolute;
    width: 90%;
    left: 0;
    z-index: 1;
    background-color: rgba( 255, 255, 255, 0.7 );
    padding: 10px;
    box-shadow: rgba(149, 157, 165, 0.3) 0px 8px 24px;
}

.sub-category-btn {
    margin: 5px;
}